os: linux
dist: xenial
language: php

branches:
  only:
    - master
    - trunk
    - /^release\/\d+\.\d+(\.\d+)?(-\S*)?$/
    - /^feature\/*/
    - /^hotfix\/\d+\.\d+(\.\d+)?(-\S*)?$/
    # Also build tags like 1.1.1 or 1.1 for deployment.
    - /^\d+\.\d+(\.\d+)?(-\S*)?$/

jobs:
  fast_finish: true
  include:
    - stage: deploy
      env: WP_VERSION=5.8
      if: ( tag IS present OR branch =~ /^feature\// OR branch =~ /^release\// OR branch =~ /^hotfix\// OR branch = trunk ) AND type != pull_request
      before_install:
        - openssl aes-256-cbc -K $encrypted_2b922af4d08d_key -iv $encrypted_2b922af4d08d_iv -in ./deploy_keys/wpseo_woo_deploy.enc -out ./deploy_keys/wpseo_woo_deploy -d
        - chmod 600 ./deploy_keys/wpseo_woo_deploy
        - eval $(ssh-agent -s)
        - ssh-add ./deploy_keys/wpseo_woo_deploy
        - ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
        - composer config --global github-oauth.github.com ${GITHUB_OAUTH_TOKEN}
      before_deploy:
        - nvm install 14
        # We need to do a composer install before yarn install because of the yoastseo:link:vendor/yoast/wordpress-seo/packages/yoastseo depdendency.
        # If we don't, we won't have any defined dependencies for yoastseo installed and the build will fail.
        - composer install
        - curl -o- -L https://yarnpkg.com/install.sh | bash
        - export PATH=$HOME/.yarn/bin:$PATH
        - yarn global add grunt-cli
        - yarn install
        - |
          if [[ ! -z "$TRAVIS_TAG" ]]; then
            grunt set-version -new-version=$TRAVIS_TAG
            grunt update-version
          fi
        - grunt artifact

      # If the commit was tagged, create an artifact and push it to the distribution github
      deploy:
        skip_cleanup: true
        provider: script
        script: bash scripts/deploy_to_dist.sh ${TRAVIS_TAG:-$TRAVIS_BRANCH} wpseo-woocommerce
        on:
          repo: $TRAVIS_REPO_SLUG
          all_branches: true

before_install:
  - composer config --global github-oauth.github.com ${GITHUB_OAUTH_TOKEN}

install:
  - travis_retry composer install --no-dev --no-interaction

script:
  - git status
